<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>Decode a secret hidden within an image</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'pixelcipher/style.css' %}">
  </head>
  <body>
    <h1><a href="{% url 'encode' %}">Decode Pixel Secrets</a></h1>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <label for="c_image">1. Upload carrier image</label><br>
      <input type="file" id="c_image" name="carrier_image"><br>

      <p>2. Select algorithm:</p>
      <input type="radio" id="LSB" name="algorithm" value="Least Significant Bit">
      <label for="LSB" class="selector">Least Significant Bit</label><br>
      <input type="radio" id="DCTI" name="algorithm" value="Discrete Cosine Transform Insertion">
      <label for="DCTI" class="selector">Discrete Cosine Transform Insertion</label><br>
      <input type="radio" id="OF" name="algorithm" value="Outside File">
      <label for="OF" class="selector">Outside File</label><br>

      <label for="pwd" id="pwd-label">3. Enter password</label><br>
      <input type="password" id="pwd" name="password"><br>
      <input type="submit" id="sub_btn" value="Upload and Decode"><br>
    </form>
    <form>
      <label for="output_text">4. Decoded text:</label><br>
      <textarea id="output_text" rows="5" cols="50">{{ decoded_text }}</textarea><br>
    </form>
  </body>
</html>
