<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>Encode a secret within an image</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'pixelcipher/style.css' %}">
  </head>
  <body>
    <h1><a href="{% url 'decode' %}">Encode Pixel Secrets</a></h1>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <label for="s_text">1. Enter secret text:</label><br>
      <textarea id="secret_text" name="text" rows="5" cols="50"></textarea><br>
      <label for="c_image">2. Upload carrier image</label><br>
      <input type="file" id="carrier_image" name="file"><br>

      <p>3. Select algorithm:</p>
      <input type="radio" id="LSB" name="algorithm" value="Least Significant Bit">
      <label for="LSB" class="selector">Least Significant Bit</label><br>
      <input type="radio" id="DCTI" name="algorithm" value="Discrete Cosine Transform Insertion">
      <label for="DCTI" class="selector">Discrete Cosine Transform Insertion</label><br>
      <input type="radio" id="OF" name="algorithm" value="Outside File">
      <label for="OF" class="selector">Outside File</label><br>

      <label for="pwd" id="pwd-label">4. Set password</label><br>
      <input type="password" id="pwd" name="password"><br>
      <input type="submit" id="sub_btn" value="Encode and Download">
    </form> 
  </body>
</html>


