body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

h1, a {
  color: #333;
  margin-top: 20px;
  text-decoration: none;
}

form {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: left; /* Align form content to the left */
}

label, p {
  display: block;
  margin-top: 12px;
  font-weight: bold;
}

.selector {
  display: inline;
  margin-top: 0px;
  font-weight: normal;
}

#pwd-label {
  margin-top: 22px;
}

textarea,input {
  width: 100%;
  padding: 10px;
  margin-top: 0;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

input[type="radio"] {
  width: 30px;
  margin-bottom: 10px;
  margin-left: 20px;
}

input[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s;
  margin-bottom: 5px;
  margin-top: 15px;
}

input[type="submit"]:hover {
  background-color: #45a049;
}